
.course {
  background-color: #363a45;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 2rem;
  margin: 1rem 0;
}
.info {
  display: flex;
  gap: .5rem;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}
.name{
  font-size: 1.5rem;
  font-weight: 600;
}
.duration{
  font-size: 1rem;
  color: #b09dfc;
  font-weight: bold;
}
.date {
  color: rgb(142, 230, 142);
}
.controls {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  min-height: 55px;
  justify-content: center;
}
.delete{
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: none;
  color:white;
  display: flex;
  padding: .1rem .7rem;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  transition: all .3s ease-out;
}

.delete:hover {
  background-color: rgb(250, 70, 70);
  

} 
.delete {
  background-color: rgb(243, 86, 86);
}